<html>

<body>
  <div class="container">
    <div class="leftContainer" ng-controller="mainControl">
    </div>
    <div class="friendListContainer" ng-controller="landingControl">
      <div class="search">
        <input class="inputFriends" ng-model="findFriend" placeholder="Search Friends">
        <button class="btn btn-primary" ng-click="">Search friends</button>
        <h1> Friends!!</h1>
        <div class="friendscroll">
          <div class='friendContainer'>
            <img src="pictures/weddingTuxido.jpg">
            <h4>Jacob Robertson</h4>
            <h5><i>Bountiful, Utah</i></h5>
          </div>
          <!--^^ end of freindContainer -->
          <div class='friendContainer'>
            <img src="pictures/weddingTuxido.jpg">
            <h4>Jacob Robertson</h4>
            <h5><i>Bountiful, Utah</i>
            </h5>
          </div>
          <!--^^ end of freindContainer -->
          <div class='friendContainer'>
            <img src="pictures/weddingTuxido.jpg">
            <h4>Jacob Robertson</h4>
            <h5><i>Bountiful, Utah</i>
            </h5>
          </div>
          <!--^^ end of freindContainer -->
          <div class='friendContainer'>
            <img src="pictures/weddingTuxido.jpg">
            <h4>Jacob Robertson</h4>
            <h5><i>Bountiful, Utah</i>
            </h5>
          </div>
          <!--^^ end of freindContainer -->
          <div class='friendContainer'>
            <img src="pictures/weddingTuxido.jpg">
            <h4>Jacob Robertson</h4>
            <h5><i>Bountiful, Utah</i>
            </h5>
          </div>
          <!--^^ end of freindContainer -->
          <div class='friendContainer'>
            <img src="pictures/weddingTuxido.jpg">
            <h4>Jacob Robertson</h4>
            <h5><i>Bountiful, Utah</i>
            </h5>
          </div>
          <!--^^ end of freindContainer -->
          <div class='friendContainer'>
            <img src="pictures/weddingTuxido.jpg">
            <h4>Jacob Robertson</h4>
            <h5><i>Bountiful, Utah</i>
            </h5>
          </div>
          <!--^^ end of freindContainer -->
          <div class='friendContainer'>
            <img src="pictures/weddingTuxido.jpg">
            <h4>Jacob Robertson</h4>
            <h5><i>Bountiful, Utah</i>
            </h5>
          </div>
          <!--^^ end of freindContainer -->
          <div class='friendContainer'>
            <img src="pictures/weddingTuxido.jpg">
            <h4>Jacob Robertson</h4>
            <h5><i>Bountiful, Utah</i>
            </h5>
          </div>
          <!--^^ end of freindContainer -->
          <div class='friendContainer'>
            <img src="pictures/weddingTuxido.jpg">
            <h4>Jacob Robertson</h4>
            <h5><i>Bountiful, Utah</i>
            </h5>
          </div>
          <!--^^ end of freindContainer -->
          <div class='friendContainer'>
            <img src="pictures/weddingTuxido.jpg">
            <h4>Jacob Robertson</h4>
            <h5><i>Bountiful, Utah</i>
            </h5>
          </div>
          <!--^^ end of freindContainer -->
          <div class='friendContainer'>
            <img src="pictures/weddingTuxido.jpg">
            <h4>Jacob Robertson</h4>
            <h5><i>Bountiful, Utah</i>
            </h5>
          </div>
          <!--^^ end of freindContainer -->
        </div>
        <!--^^ end of FreindScroll-->
      </div>
      <!-- ^^ end of search>-->
    </div>
    <!-- ^^end of rightContainer>-->
  </div>
  <!-- ^^end of container>-->
</body>

</html>
