<html>

<body>
  <div class="filters container">
    <p>FilterOptions:</p>
    <option>
    </option>
  </div>
  </div>
  <div class="container">
    <div class="templateContainer">
      <div class="locationsContainer">
        <div ng-repeat="place in places" class="suggestedLocationContainer">
          <div class="suggestedLocationName">
            <p>{{place.name}}</p>
          </div>
          <div class="suggestedLocationImage">
            <img src="{{place.img}}">
          </div>
          <p><u>Add to:</u></p>
          <button class="trylinks" ng-click="addFavorite(place._id)">Favorites</button>
          <button class="trylinks" ng-click="addWantToTry(place)">Want to try</button>
          <div class="location-actions">
            <ul>
              <li>
                <p class="LocationCityState"><b>Location:</b> <i>{{place.address}}, {{place.city}}, {{place.state}}</i></p>
              </li>
              <li>
                <p class="TotalFavorited"> <b>Total Favorited:</b></p>
              </li>
            </ul>
          </div>
        </div>
        <!-- ^^ end of suggest location container -->
      </div>
      <!--  ^^ end of locations container -->
      <div class="friendsListContainer" ng-if="isValidUser">
        <input placeholder="Enter Friend ID" ng-model="newFriend.friendId">
        <button class="btn-btn-default" type="submit" ng-click="addfriend(friendId)">Add Friend</button>
        <div ng-repeat="user in users" class="friendContainer">
          <div class="friendImage">
            <img src="{{user.img}}">
          </div>
          <p><b>{{user.firstName}} {{user.lastName}}</b></p>
          <p><i>{{user.city}}, {{user.state}}</i></p>
        </div>
        <!-- ^^end of friend Container -->
      </div>
      <!-- ^^end of Friend List Container -->
    </div>
    <!-- ^^end of template container -->
  </div>
  <!-- ^^ end of container -->
</body>

</html>
<!-- Create a new friend user schema
friend ID
    finding new things to try
      
    Joining friends to do things
      user Register
    Change log in to take user name & password plain text
      later come back and and encrypt
    Add friend
      get friends id
        which allows me to get user name
        simple add friend page
    add friends on the landing page
    

    Bonus
    Details on the location
      information on the location

  user get user id and get all the documents pertaining to that user
  
 -->
