<div class="row">
  <div class="col-sm-8">
    <div class="reviewContainer">
      <div class="panel-heading"><strong>Thai Delight</strong></div>
      <div class="panel-body">
        <p class="reviewType">Public Review:</p>
        <p class="reviewText">I love this place for its orange chicken </p>
        <a href="#" class="btn btn-success">Delete Review</a>
      </div>
    </div>
    <!-- ^^ end of <textarea class="reviewText">panel panel-deafault -->
    <div class="reviewContainer">
      <div class="panel-heading">Wendy's</div>
      <div class="panel-body">
        <p class="reviewType">Private Review:</p>
        <p class="reviewText">Asiago Chicken combo is the best I really don't know what i would do if i couldn't have this meal at least once a week</p>
        <a href="#" class="btn btn-success">Delete Review</a>
      </div>
    </div>
    <!-- ^^ end of panel panel-deafault -->
    <div class="reviewContainer">
      <div class="panel-heading">Chili's</div>
      <div class="panel-body">
        <p class="reviewType">Private Review:</p>
        <p class="reviewText">Pretty good cheap date</p>
        <a href="#" class="btn btn-success">Delete Review</a>
      </div>
    </div>
    <!-- ^^ end of panel panel-deafault -->
    <div class="reviewContainer">
      <div class="panel-heading">Moochies</div>
      <div class="panel-body">
        <p class="reviewType">Private Review:</p>
        <p class="reviewText">Amazing Philly Cheese steak sandwich</p>
        <a href="#" class="btn btn-success">Delete Review</a>
      </div>
    </div>
    <!-- ^^ end of panel panel-deafault -->
    <div class="reviewContainer">
      <div class="panel-heading">wal-mart</div>
      <div class="panel-body">
        <p class="reviewType"><strong>Private Review:</strong></p>
        <p class="reviewText">Good place to buy gifts for friends</p>
        <a href="#" class="btn btn-success">Delete Review</a>
      </div>
    </div>
  </div>
</div>
