<div class="locationsContainer">
  <div ng-repeat="place in places" class="suggestedLocationContainer">
    <div class="suggestedLocationName">
      <p>{{place.name}}</p>
    </div>
    <div class="suggestedLocationImage">
      <img src="{{place.img}}">
    </div>
    <p><u>Add to:</u></p>
    <button class="trylinks" ng-click="moveToFavorite(place._id)">Favorites</button>
    <button class="trylinks" ng-click="removeWantToTry(place._id)">Remove</button>
    <div class="location-actions">
      <ul>
        <li>
          <p class="LocationCityState"><b>Location:</b> <i>{{place.address}}, {{place.city}}, {{place.state}}</i></p>
        </li>
        <li>
          <p class="TotalFavorited"> <b>Total Favorited:</b></p>
        </li>
      </ul>
    </div>
  </div>
  <!-- ^^ end of suggest location container -->
</div>
<!--  ^^ end of locations container -->
